body {
    background-image:url('https://vignette.wikia.nocookie.net/zeners-wolf-pack/images/f/f5/Trippy-illusion-hdgif-1080p.gif/revision/latest?cb=20150104074534');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}